%h1 Helps


%table{:class => 'table table-bordered'}
	%thead
		%tr
			%th Titulo
			%th Mensagem
		
	
	%tbody
	- @helps.each do |titulo, mensagem|		
		%tr
			%td #{titulo}
			%td #{mensagem}
	-		

        


    
